name: Main - Publish Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  publish:
    if: "contains(github.event.head_commit.message, 'chore: Version Package')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup

      - name: Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: "pnpm changeset publish"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release
        if: steps.changesets.outputs.published == 'true'
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.changesets.outputs.publishedTag }}
          token: ${{ secrets.GITHUB_TOKEN }}
          generateReleaseNotes: true
