name: PR - Tests

on: pull_request

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          token: ${{ env.GITHUB_TOKEN }}

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run linter
        run: pnpm run lint

      - name: Run tests
        run: pnpm run test
