name: Tests

on: pull_request

jobs:
  test:
    runs-on: ledgerhq-shared-small

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.4.0
      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: "Install dependencies"
        run: "pnpm i"

      - name: "Test"
        run: "pnpm test"
